<!--# include("/views/public/header.htm"){} -->
<div class="simplebanner">
    <div class="wrapper tac">
        <img src="${path}/index/images/point_01.png"/>
    </div>
</div>

<div class="wrapper clearfix mt50">
    <div class="safe_nl fl mt20"><img src="${path}/index/images/safe_01.png"></div>
    <div class="safe_nr fr mt10" >
            <h1 class="fwb fsg">100%本息保障计划，助您无忧理财</h1>
        <h2 class="mt10 fwn fc0 fse">什么是本息保障？</h2>
        <p class="mt10 lhd lfc3">本息保障指当投资者所投的借款出现严重逾期时，白菜网将动用风险准备金向投资者垫付此笔借款未归还的当期剩余本金和利息，从而为投资者营造一个安全的投资环境，保证投资者的本金和利息安全。</p>
    </div>
    </div>
    <div class="wrapper clearfix mt50">
    <div class="safe_nr fl">
       <h2 class="mt10 fwn fc0 fse">什么是风险准备金？</h2>
        <p class="mt10 lhd lfc3">平台每笔推荐标（推荐标是指由白菜网官方发布的借款标，包括以下几个类型的产品：旺车贷、旺楼贷、旺薪贷）借款成交时，会根据借款人综合评级的不同的提取一定比例的金额放入“风险准备金账户”。风险准备金全部来源于白菜网根据其与借款人签署的居间协议向其所服务的借款人所收取的服务费。</p>
      <h2 class="mt10 fwn fc0 fse">风险准备金和拨贷比？</h2>
        <p class="mt10 lhd lfc3">目前白菜网的风险准备金总额为1452万元，拨贷比为1.97%，远高于平台的不良贷款率，抗风险能力强。（统计数据截止到2015年1月）</p>

    </div> 
    <div class="safe_nl fr mt10" style="height:auto"><img src="${path}/index/images/safe_02.png"></div>

</div>
<div class="safety-box">
    <div class="wrapper">
        <h1 class="fsg">政策法规保护</h1>
        <h2 class="fwn mt30 fc0 fse">关于民间借贷的合法性</h2>
        <p class="mt10 lhd lfc3">根据《最高人民法院关于人民法院审理借贷案件的若干意见》的规定，自然人之间、自然人与法人、自然人与其他组织之间的借款作为借贷案件受理，确保了民间借贷的组织形式及其合法性。但是，民间借贷中也应当遵循一些特殊的法律规定，例如：借款利率不得超过中国人民银行公布的基准利率的4倍。至于自然人之间的关系、通过何种形式或者平台进行借贷，法律并没有规定...</p>
        <h2 class="mt30 fwn fc0 fse">关于白菜网平台提供媒介服务的合法性</h2>
        <p class="mt10 lhd lfc3">根据《合同法》第23章关于“居间合同”的规定，特别是第424条规定的“居间合同是居间人向委托人报告订立合同的机会或者提供订立合同的媒介服务，委托人支付报酬的合同”，白菜网平台作为合法设立的中介服务机构，为民间借贷提供撮合，使借贷双方形成借贷关系并收取相关报酬的居间服务有着明确的法律基础。</p>
        <h2 class="mt30 fwn fc0 fse">关于白菜网平台电子合同的合法性</h2>
        <p class="mt10 lhd lfc3">根据《合同法》和《电子签名法》的规定，当事人可以采用合同书、信件和数据电文（包括电报、电传、传真、电子数据交换和电子邮件）等形式订立合同，并通过以电子形式所含、所附用于识别签名人身份并表明签名人认可其中内容的数据电文等电子签名方式进行签署，当事人不能仅因合同采用电子签名、数据电文的形式就否定其法律效力。</p>
    </div>
</div>
<!--# include("/views/public/footer.htm"){} -->