<!--主要内容结束-->
	<div class="quick-links mt30">
		<ul class="wrapper clearfix">
			<li><a href="">首页</a></li>
			<li><a href="">网站地图</a></li>
			<li><a href="">关联企业</a></li>
			<li><a href="">申请合作</a></li>
			<li><a href="">联系我们</a></li>
		</ul>
	</div>

	<div class="fatfooter">
		<div class="wrapper">
			<div class="clearfix">
				<div class="ft-nav fl">
					<dl>
						<dt>帮助中心</dt>
						<dd><a href="#">平台介绍</a></dd>
						<dd><a href="#">常见问题</a></dd>
						<dd><a href="#">名词解释</a></dd>
						<dd><a href="#">收益计算</a></dd>
					</dl>
					<dl>
						<dt>安全介绍</dt>
						<dd><a href="#">风控流程</a></dd>
						<dd><a href="#">平台技术</a></dd>
						<dd><a href="#">安全保障</a></dd>
						<dd><a href="#">第三方支付</a></dd>
					</dl>
					<dl>
						<dt>关于徽贷网</dt>
						<dd><a href="#">徽贷网介绍</a></dd>
						<dd><a href="#">团队介绍</a></dd>
						<dd><a href="#">官方报道</a></dd>
						<dd><a href="#">媒体报道</a></dd>
					</dl>
					<dl class="img">
						<dt>客户服务</dt>
						<dd><a class="ft-nav-weibo" href="#">新浪微博</a></dd>
						<dd class="mt5"><a class="ft-nav-qq" href="#">在线客服</a></dd>
						<dd class="mt5"><a class="ft-nav-weixin"  href="#">微信</a></dd>
					</dl>
				</div>
				<div class="fr tar">
					<dl class="mt10">
						<dt class="fsc">客服热线</dt>
						<dd class="fwb fsj mt5"><strong>13484237989</strong></dd>
					</dl>
					<dl class="mt5 lhc">
						<dt class="di">工作日：</dt>
						<dd class="di">9:00-21:00</dd>
					</dl>
					<dl class="mt10 clearfix lhc">
						<dt class="di">非工作日：</dt>
						<dd class="di">9:00-12:00</dd>
						<dd class="mt10">14:00-21:00</dd>
					</dl>
				</div>
			</div>
			<div class="mt40 tac lhb fsa">© 2015 白菜科技 All rights reserved http://baicai.me DESIGN baicai</div>
		</div>
	</div>

	
	
</body>
</html>