@charset "utf-8";
input {
	outline: none;
	border: none;
}
input[type="sbumit"] {
	border: none;
}
input[type="checkbox"],input[type="radio"] {
	vertical-align: middle;
	padding: 0 6px;
}
.item {
	position: relative;
	margin-bottom: 16px;
}
.item span{
	display: inline-block;
	width: 80px;
	/*text-align: right;*/
}
.item .errorMessage{
	color:#ff0303;
	margin-left:7px;
}
label {
	position: absolute;
	/*left: 0;*/
	top: 1px;
	width: 36px;
	height: 34px;
}
label.name {
	background: url(../images/label1.png) no-repeat center;
}
label.pass {
	background: url(../images/label2.png) no-repeat center;
}
label.pass2 {
	background: url(../images/label3.png) no-repeat center;
}
label.yzm {
	background: url(../images/label4.png) no-repeat center;
}
label.recman {
	background: url(../images/label5.png) no-repeat center;
}
.input {
	padding: 7px 0 7px 48px;
	height: 20px;
	line-height: 20px;
	width: 210px;
	border-top: 1px solid #cacaca;
	border-left: 1px solid #cacaca;
	border-bottom: 1px solid #ececec;
	border-right: 1px solid #ececec;
	background: #fcfcfc;
	color: #8e8e8e;
}
/*注册*/
.reg-box {
	padding: 20px 14px;
}
.reg-head {
	height: 60px;
	background-repeat: no-repeat;
	background-position: center top;
}
.reg-head.step-one {
	background-image: url(../images/reg-t1.png);
}
.reg-head.step-two {
	background-image: url(../images/reg-t2.png);
}
.reg-head.step-three {
	background-image: url(../images/reg-t3.png);
}
.reg-content {
	padding: 28px 0 0 55px;
}
.reg-content .next-step,.submit {
	display: inline-block;
	width: 260px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
} 
.icon-tips-ssl  {
	display: inline-block;
	vertical-align: middle;
	width: 22px;
	height: 20px;
	background: url(../images/ssl.png) no-repeat left center;
}

.chose-way a {
	display: inline;
}
.chose-way .current {
	display: none;
}
/*登陆*/
.log-box {
	position: relative;
	height:500px;
	margin-top: 50px;
}
.log-figure {
	position: absolute;
	top: 0;
	left: 35px;
	width: 560px;
	height: 399px;
	background: url(../images/reg_i_login.jpg) no-repeat;
}
.log-content {
	position: absolute;
	right: 35px;
	top: 35px;
	padding: 40px 0 0 30px;
}
/*密码找回*/
