@charset "utf-8";
/*
*****
用户中心css文件
*****
*/
a:hover {
	text-decoration: underline;
}
input {
	cursor: pointer;
}
input,select,textarea {
	outline: none;
	border: none;
}
/*
*****
样式类
*****
*/
.ucbg {
	background: #eee;
}
.ucbg2 {
	background: #f4f4f4;
}
.uc-mg {
	margin: 10px;
}
.uc-pd {
	padding: 10px;
}
.uc-pd2 {
	padding: 20px;
}
.uc-bd {
	border: 1px solid #ccc;
}
.ucbtn1 {
	padding: 1px 3px;
	color: #fff;
	background: #ff5b01;
}
.ucbtn2 {
	padding: 1px 3px;
	color: #fff;
	background: #02577c;
}
.middlebtn,.bigbtn,.biggerbtn {
	display: inline-block;
	text-align: center;
}
a.middlebtn,a.bigbtn,a.biggerbtn {
	text-decoration: none;
}
.middlebtn {
	padding: 0 20px;
	height: 30px;
	line-height: 30px;
    font-size: 14px;
}
input.middlebtn {
	display: inline-block;
}
.bigbtn {
	width: 130px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
}
.biggerbtn {
	width: 150px;
	height: 50px;
	line-height: 50px;
	font-size: 21px;
}
.line-a {
	line-height: 16px;
}
.line-b {
	line-height: 22px;
}
.line-c {
	line-height: 30px;
}
.uc-head {
	position: relative;
	height: 35px;
	margin-bottom: 35px;
	border-bottom: 1px solid #ccc;
}
.uc-head .title {
	position: absolute;
	top: 29px;
	left: 40px;
	padding: 0 10px;
	line-height: 1;
	font-size: 16px;
	font-weight: bold;
	background: #fff;
}
/*
*****
结构板块
*****
*/
/*侧边*/
.usercard {
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.usercard-top {
	border-bottom: 1px solid #ccc;
}
.usercard-top .welcome {
	letter-spacing: 1px;
}
.user-opts {
	padding: 10px 0;
	text-align: center;
	border-bottom: 1px dashed #ccc;
}
.user-opts>li {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	background: #eee;
}
.user-opts>li:last-child {
	margin-right: 0;
}
.user-opts>.opt-a {
	background: url(../images/uc-2.png) no-repeat center ;
}
.user-opts>.opt-a.on {
	background: url(../images/uc-1.png) no-repeat center ;
}
.user-opts>.opt-b {
	background: url(../images/uc-4.png) no-repeat center ;
}
.user-opts>.opt-b.on {
	background: url(../images/uc-3.png) no-repeat center ;
}
.user-opts>.opt-c {
	background: url(../images/uc-6.png) no-repeat center ;
}
.user-opts>.opt-c.on {
	background: url(../images/uc-5.png) no-repeat center ;
}
.usercard-top .percentbar {
	margin: 10px auto 8px;
}
.usercard-top .update {
	margin-top: 1px;
	color: #02577c;
}
.usercard-top .update:hover {
	color: #02577c;
	text-decoration: underline;
}
.usercard-bottom .btn-bbc1 {
	width: 110px;
	height: 30px;
	line-height: 30px;
}
.usercard-bottom .btn-bbc1:hover {
	text-decoration: none;
}
/*主要内容*/
.uc-content {
	padding: 0 20px 20px;
}
.stats-box {
	height: 120px;
	margin: 0 auto;
	font-size: 0;
	word-break:break-all;
}
.item {
	z-index: 2;
	position: relative;
	overflow: hidden;
	float: left;
	width: 25%;
	height: 70px;
	padding: 25px 0;
	font-size: 14px;
	text-align: center;
}
.item.current {
	z-index: 1;
	background: #fff;
	height: 71px;
}
.item-bdr {
	margin-right: -1px;
	border-right: 1px solid #ccc;
}
.item-bdr2 {
	margin-right: -2px;
	border-right: 2px solid #ccc;
}
.stats-tab .item {
	cursor: pointer;
} 
.stats-tabcon {
	border: 1px solid #ccc;
	border-top: none;
}
/*列表*/
.wealth-record>.title {
	height: 57px;
	overflow: hidden;
	padding: 0 10px 0 20px;
	background: #fff;
	border: 1px solid #fff;
	border-bottom: 1px solid #e9edef;
}
.wealth-record>.title>li {
	float: left;
	display: inline;
	width: 20%;
	height: 57px;
	line-height: 57px;
	overflow: hidden;
}
.wealth-record>.text {
	padding: 50px 0 150px;
	background: #fff;
	text-align: center;
}
/**/
.newpro-box {
	overflow: hidden;
	word-break:break-all;
}
.newpro-box .box-a {
	width: 75%;
	border-right: 1px solid #d9d9d9;
	margin: 0 -1px 0 -1px;
}
.newpro-box .box-b {
	width: 25%;
	border-left: 1px solid #d9d9d9;
}
.newpro-head {
	overflow: hidden;
	padding: 15px 2em;
	background: #f4f4f4;
}
.newpro-head .title {
	font-size: 16px;
}
.newpro-con {
	overflow: hidden;
	padding: 30px 0 20px;
}
.newpro-con .col-1 {
	width: 34%;
	padding-bottom: 20px;
	margin-left: -1px;
	border-right: 1px solid #d9d9d9;
}
.newpro-con .col-2 {
	width: 33%;
	padding-bottom: 20px;
	margin-left: -1px;
	border-right: 1px solid #d9d9d9;
}
.newpro-con .col-3 {
	width: 33%;
	padding-bottom: 20px;
}
.toolexplain {
	border-top: 2px dotted #d3d8dc;
	padding: 45px 27px;
	line-height: 2.0;
}
/**/
.recharge {
	padding-left: 120px;
}
.recharge-line {
	position: relative;
	margin-top: 18px;
}
.recharge-line .label {
	position: absolute;
	left: -110px;
	top: 10px;
}
.recharge-way {
	
}
.recharge input.input.money {
	width: 125px;
}
.recharge-tabnav {
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	margin-right: -10px;
}
.recharge-tabnav li {
	float: left;
	vertical-align: middle;
	margin-right: 18px;
	width: 150px;
	height: 40px;
	border: 1px solid #d3d8dc;
	border-radius: 5px;
}
.recharge-tabnav li.current {
	width: 152px;
	height: 42px;
	border: none;
	background: url(../images/uc-selected.png) no-repeat left top;
}
.recharge-tabnav li span {
	display: block;
	width: 150px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #ff5b01;
	text-align: center;
	background-size: 140px 36px;
	background-position: center;
	background-repeat: no-repeat;
}
.recharge-tabnav li.current span {
	margin: 1px;
}
.recharge-tabnav li .caifutong  {
	background-image: url(../images/logo.png);
}
/*请自行添加*/
.recharge-tabnav li .bank01  {

}

.recharge-bank  li {
	margin: 0 18px 15px 0;
}
/*表单*/
.formline {
	padding: 10px 0;
}
.formline input[type="checkbox"] {
	display: inline-block;
	height: 30px;
	vertical-align: middle;
}
.label {
	display: inline-block;
	width: 120px;
	text-indent: 1em;
}
input.input ,input.sinput  {
	height: 18px;
	line-height: 18px;
	border: 1px solid #b4b9bd;
	border-radius: 3px;
}
input.input {
	width: 240px;
	padding: 11px 5px;
}
input.sinput {
	width: 180px;
	padding: 4px 5px;
}
input.input.money {
	padding-left: 20px;
	background: url(../images/uc-input.png) no-repeat 3px center;
}
select.select {
	box-sizing:content-box;
	width: 240px;
	padding: 3px 5px;
	border: 1px solid #b4b9bd;
	border-radius: 3px;
}
/*表格*/
.assets-table .up {
	color: #18b160;
}
.assets-table .down {
	color: #ff0000;
}
.assets-table {
	width: 100%;
	font-size: 12px;
}
.assets-table th, .assets-table td {
	vertical-align: middle;
	height: 40px;
	text-align: center;
	border-bottom: 1px dashed #ccc;
}
.assets-table th {
	height: 60px;
	font-size: 14px;
	font-weight: bold;
	color: #000;
}
.assets-table td.txt {
	width: 20%;
	padding: 0;
	text-align: left;
	color: #000;
}
.assets-table .high td {
	color: #02577c;
	background: #ececec;
	border-bottom: none;
}
.bank-desc {
	border-radius: 3px;
	border: 1px solid #d3d8dc;
	border-left: 0;
	border-bottom: 0;
	position: relative;
	overflow: hidden;
	zoom: 1;
	height: auto;
	margin: 20px 47px 0 0;
	display: none;
}
.bank-desc table {
	width: 100%;
}
.bank-desc th, .bank-desc td {
	text-align: center;
	vertical-align: middle;
	height: 35px;
	border-left: 1px solid #d0d5d9;
	border-bottom: 1px solid #d0d5d9;
}
.bank-desc th {
	background: #ececec;
	font-weight: normal;
}
.agree-protocol a {
	color: #ff5b01;
}
.jkb-box .stats-box label {
	display: inline-block;
	width: 60px;
}
.jkb-box .formline {
	position: relative;
}
.jkb-box .formline .tips {
	position: absolute;
	left: 300px;
	top: 16px;
	padding: 0 1em;
	font-size: 12px;
	color: #999;
}
.jkb-box .formline .tips i.fc1 {
	position: absolute;
	right: 100%;
	top: 5px;
}
.jkb-box .sinput,.jkb-box .select {
	width: 120px;
}
/*安全中心*/
.uc-safe-rank {
	padding: 20px 40px 
}
.uc-safe-rank .percentbar {
	display: inline-block;
	vertical-align: middle;
	width: 450px;
	height: 12px;
	border-radius: 6px;
}
.uc-safe-rank .percentbar .bar-inner {
	height: 12px;
	border-radius: 6px;
}
.uc-safe-rank-line {
	position: relative;
	padding: 12px 80px 12px 0;
	overflow: hidden;
	border-bottom: 1px dashed #ccc;
}
.uc-safe-rank-line p {
	margin-top: 2px;
}
.uc-safe-rank-line  .go {
	position: absolute;
	right: 10px;
	bottom: 13px;
}
.uc-safe-rank-line .icon {
	float: left;
	width: 80px;
	height: 45px;
	background-repeat: no-repeat;
}
.uc-icon-safe-1 {
	background: url(../images/safe-leavel01.png) center;
}
.uc-icon-safe-2 {
	background: url(../images/safe-leavel02.png) center;
}
.uc-icon-safe-3 {
	background: url(../images/safe-leavel03.png) center;
}
.uc-icon-safe-4 {
	background: url(../images/safe-leavel04.png) center;
}
.uc-icon-safe-5 {
	background: url(../images/safe-leavel05.png) center;
}
.uc-icon-safe-6 {
	background: url(../images/safe-leavel06.png) center;
}
/*组件*/
.uc-tab {
	border: 1px solid #ccc;
}
.uc-tabnav {
	font-size: 0;
	border-top: 4px solid #ccc;
	background: #f4f3f3;
}
.uc-tabnav a {
	display: inline-block;
	margin-top: -5px;
	padding: 20px 40px;
	font-size: 18px;
	line-height: 1;
	color: #666;
	letter-spacing: 2px;
	background: #f4f3f3;
	border-top: 4px solid #ccc;
	border-right: 1px solid #ccc;
	cursor: pointer;
}
.uc-tabnav a.current {
	color: #ff5b01;
	font-weight: bold;
	border-top: 4px solid #ff5b01;
	background: #fff;
	padding-bottom: 21px;
	margin-bottom: -1px;
}
.uc-tabnav a:hover {
	text-decoration: none;
}	
.uc-tabcon {
	
}

.ly_top{
	width:100%;
	height:140px;
}
.ly_userimg{width:130px;height:130px;overflow:hidden;border:1px solid #CCCCCC;float:left;}
.ly_usercenter{float:left;width:440px;height:130px;margin-left:20px;}
.ly_usercenter .ly_user_inner{width:600px;margin-left:10px;height:30px;margin-top:2px;font-weight:bold;}
.ly_usercenter .ly_bg{background:#f9f9f9;margin-top:15px;}
.ly_usercenter .ly_user_inner p{display:block;float:left;line-height:32px;font-size:14px;}
.ly_btn{width:100px;height:25px;line-height:25px;background:#ff5b01;color:white;float:right;margin:3px 0px 0px 10px;position:relative;left:20px;}
.ly_usercenter .ly_fr{height:32px;line-height:32px;float:right;display:block;margin-right:5px;}
.ly_usercenter .ly_blocka{height:55px;}
.ly_usercenter .ly_blocka a{display:block;width:200px;height:30px;float:left;margin-top:15px;}
.ly_usercenter .ly_blocka a img{width:30px;height:30px;}
.ly_menu{width:600px;height:30px;font-size:12px;}
.ly_menu a{display:block;float:left;padding:5px;color:white;margin-left:15px;background:#ff5b01;}
.ly_menu a.online{background:white;color:black;border:1px solid #CCC;}
.ly_menu span{display:block;float:left; padding:5px;color:black;margin-left:15px;border:1px solid #CCC;}

.head{
   float:left;
   width:130px;
   height:130px;
   border:1px solid #CCC;
}
.username{
  float:left;
  margin-left:20px;
}
.username span{
   color:#ff862d;
   font-weight:bold;
   font-family:"微软雅黑";
}
.integral{
   width:644px;
   height:32px;
   float:left;
   background:#eeeeee;
   margin-left:20px;
   margin-top:22px;
   border:1px solid #cecece;
}
.integral ul{
   float:left;
   width:300px;
}
.integral ul li{
  width:100px;
  float:left;
  height:30px;
  line-height:30px;
  text-align:center;
}
.integral ul li img{
	vertical-align:middle;
}
.authentication{
  float:left;
  margin-left:20px;
  margin-top:22px;
}
.authentication img{
  float:left;
  margin-left:15px;
}
.authentication span{
  float:left;
}
.ip{
  float:right;
  margin-top:25px;
  margin-right:5px;
  color:#b2b2b2;
  font-size:12px;
}