<!--# include("/views/public/header.htm"){} -->
<div class="banner">
		<div class="banner-topshadow"></div>
		<span class="prev"></span>
		<span class="next"></span>
		<ul class="banner-con">
			<li style="background-image:url(${path}index/images/banner_pic01.jpg);"><a href=""></a></li>
			<li style="background-image:url(${path}index/images/banner_pic02.jpg);"><a href=""></a></li>
			<li style="background-image:url(${path}index/images/banner_pic03.jpg);"><a href=""></a></li>
		</ul>
		<div class="banner-nav">
		</div>	
		<div class="banner-bottomshadow"></div>
	</div>
	<!--头部结束-->
	
	<div class="wrapper mt40">
		<div class="sty1-head">
			<span class="fl icon-head icon-head-borrow"></span>
			<div class="fl ml10">
				<h2 class="title title-small">借款标</h2>
				<p class="mt5">最低500即可加入，每个工作日10:00点准时发售<a class="fc1 ml20" href="">去借款>></a></p>
			</div>
			<a class="more" href="${path}invest.do">查看更多>></a>
		</div>
		<ul class="invest-spelist invest-spelist-mod-1 clearfix">
		
		<!--# for(pro in proList){  -->
			<li>
				<div class="head">
					<span class="kind icon-invest icon-invest-x"></span>
					<span class="name">${pro.proName}</span>
				</div>
				<div class="content">
					<div class="fc0 tac l1">
						<div>期限：<span class="fsd fc1 fwb">${pro.proTimeLimit}</span>
						<!--# if(pro.proTimeUint==1){  -->天<!--# }else{  -->个月<!--# } --></div>
						<div class="ellipsis"><span class="fsg fwb">${pro.proAccount/100,numberFormat="#"}</span>元</div>
					</div>
					<div class="l2">
						<div class="income" data-rate='${pro.proApr,numberFormat="#.00"}%'>
						<!--这里的数据由js获取data-rate属性生成-->
						</div>
						<div class="fc0 fsa">预计年化净收益率</div>
					</div>
					<div class="l3">
						<div class="barbox">
							<div class="percentbar fl">
								<span data-width='80%' class="bar-inner fl bg1"></span>
							</div>
							<div class="fr bar-title">剩余6天</div>
						</div>
						<div class="barbox">
							<div class="percentbar fl">
								<span data-width='80%' class="bar-inner fl bg2"></span>
							</div>
							<div class="fr bar-title">
							80%</div>
						</div>
					</div>
				</div>
				<a href="${path}project/view.do?id=1" class="status bg2">申购中</a>
			</li>
			<!--# }  -->
			
		</ul>
	</div>

	<div class="centerbar bg1 tac">累积投资金额<span>￥1,087,510.00</span></div>

	<div class="wrapper clearfix mt35">
		<div class="fl ind-con-a">
			<div class="sty1-head">
				<span class="fl icon-head icon-head-notice"></span>
				<div class="fl ml10">
					<h2 class="title title-small">新闻公告</h2>
					<p class="mt5"><a class="fc1" href="">查看更多网站动态>></a></p>
				</div>
			</div>
			<ul class="sty1-flist ind-margin-mod">

				<li>
					<a class="fl" href="">
						<img src="upload/article/moshou.jpg">
					</a>
					<h1 class="title"><a href="">魔兽6.2.3正式补丁说明 勇气点升级装备回归</a></h1>
					<div>
						<span>发表时间：2015-11-11</span>
						<span class="ml20"><span>0</span>条评论</span>
						<span class="ml20">作者：白菜网</span>
					</div>
					<p class="intro">魔兽美服官方刚在本周宣布了6.2.3补丁即将于17日正式上线，相信离国服上线也已不远了快来看看6.2.3补丁具体有哪些改动吧！</p>
				</li>
				
				<li>
					<a class="fl" href="">
						<img src="upload/article/moshou.jpg">
					</a>
					<h1 class="title"><a href="">魔兽6.2.3正式补丁说明 勇气点升级装备回归</a></h1>
					<div>
						<span>发表时间：2015-11-11</span>
						<span class="ml20"><span>0</span>条评论</span>
						<span class="ml20">作者：白菜网</span>
					</div>
					<p class="intro">魔兽美服官方刚在本周宣布了6.2.3补丁即将于17日正式上线，相信离国服上线也已不远了快来看看6.2.3补丁具体有哪些改动吧！</p>
				</li>
				
				<li>
					<a class="fl" href="">
						<img src="upload/article/moshou.jpg">
					</a>
					<h1 class="title"><a href="">魔兽6.2.3正式补丁说明 勇气点升级装备回归</a></h1>
					<div>
						<span>发表时间：2015-11-11</span>
						<span class="ml20"><span>0</span>条评论</span>
						<span class="ml20">作者：白菜网</span>
					</div>
					<p class="intro">魔兽美服官方刚在本周宣布了6.2.3补丁即将于17日正式上线，相信离国服上线也已不远了快来看看6.2.3补丁具体有哪些改动吧！</p>
				</li>
				
			</ul>
		</div>
		<div class="fr ind-con-b">
			<div class="sty1-head">
				<span class="fl icon-head icon-head-article"></span>
				<div class="fl ml10">
					<h2 class="title title-small">最新文章</h2>
					<p class="mt5"><a class="fc1" href="">查看更多>></a></p>
				</div>
             
			</div>
			<ul class="sty1-nlist mt10">
				<li>
					<a href="">习近平出席金砖国家领导人非正式会晤</a>
				</li>
				<li>
					<a href="">巴黎恐袭已致129人死亡 多名嫌犯被逮捕</a>
				</li>
				<li>
					<a href="">甘肃嫩模真空上阵 穿300万黄金胸衣走秀</a>
				</li>
				<li>
					<a href="">微众银行正副行长均辞职 玩不过传统银行？</a>
				</li>
				<li>
					<a href="">《还珠》18年紫微金锁重聚</a>
				</li>
			</ul>
			<div class="sty1-head mt35">
				<span class="fl icon-head icon-head-cooper"></span>
				<h2 class="title fl ml10">合作伙伴</h2>
			</div>
			<div class="cooper-slide">
				<span class="prev"></span>
				<span class="next"></span>
				<div class="cooper-slide-inner">
					<ul class="cooper-slide-list">
						<li class="grayfilter">
							<img src="upload/link/link1.jpg">
						</li>
						<li class="grayfilter">
							<img src="upload/link/link1.jpg">
						</li>
						<li class="grayfilter">
							<img src="upload/link/link1.jpg">
						</li>
						<li class="grayfilter">
							<img src="upload/link/link1.jpg">
						</li>
					</ul>
				</div>	
			</div>	
		</div>
	</div>
<script>
		$(function () {
			//
			$('.banner').zBanner({
				addnav:true,
				arrow:true,
				trigger:'h',
				//speed:200,
				animation:'fade'
			});
			//
			$('.cooper-slide').zslide({
				obj:'.cooper-slide-list',
				direc:'y',
				type:2,
				per:1,
				//speed:400,
				auto:{
					interval:5000
				}
				
			});
			//
			$(document).on('mouseenter mouseleave','.cooper-slide li',function (e) {
				if (e.type=='mouseenter') {
					$(this).removeClass('grayfilter');
				}
				else if (e.type=='mouseleave') {
					$(this).addClass('grayfilter');
				}
			})
			//借款标列表处理
			$('.invest-spelist li').each(function () {
				var income=$(this).find('.income'),
				barInner=$(this).find('.bar-inner');
				/*格式化净收益率*/
				if (income.length>0) {
					var thRate=income.attr('data-rate');
					thRate=thRate.substr(0,thRate.length-1).split('.');
					var thRateA=thRate[0].toString(),
					thRateB=thRate[1].toString();
					var afterJudge='<span style="font-size:40px;">'+thRateA+'.</span><span style="font-size:20px;">'+thRateB+'</span>%';
					income.html(afterJudge);
				}
				/*渲染交易进度条*/
				barInner.each(function () {
					var barWidth=$(this).attr('data-width');
					$(this).animate({'width':barWidth},400);
				});
			});
		});
	</script>
<!--# include("/views/public/footer.htm"){} -->