<!--# include("/views/public/header.htm"){} -->
<div class="wrapper">
	<ul class="router mt30">
		<li><span>当前位置：</span></li>
		<li><a href="/">首页</a><span class="divider">></span></li>
		<li><span class="current">我要投资</span></li>
	</ul>
	<div class="invest-mue mt15">
		<div class="invest-mue-nav lbg1">
			<a class="current" href="${path }invest.do">投资项目</a> <a href="">收益计算器</a>
		</div>
		<div class="invest-mue-con">

			<form name="form_search" id="yw0" action="invest.do" method="GET">
				<div class="invest-mue-filter">
					<span class="condition fl">项目状态：</span>
					<div class="options fl">
						<a class="selected btn-bbc1"
							href="invest.do?status=0&timelimit=0&rate=0">全部</a> <a class=""
							href="invest.do?status=1&timelimit=0&rate=0">投标中</a> <a class=""
							href="invest.do?status=2&timelimit=0&rate=0">投标结束</a> <a class=""
							href="invest.do?status=3&timelimit=0&rate=0">还款中</a> <a class=""
							href="invest.do?status=4&timelimit=0&rate=0">还款完成</a>
					</div>
				</div>

				<div class="invest-mue-filter">
					<span class="condition fl">项目期限：</span>
					<div class="options fl">
						<a class="selected btn-bbc1"
							href="invest.do?status=0&timelimit=0&rate=0">全部</a> <a class=""
							href="invest.do?status=0&timelimit=1&rate=0">1-3个月</a> <a
							class="" href="invest.do?status=0&timelimit=2&rate=0">4-6个月</a> <a
							class="" href="invest.do?status=0&timelimit=3&rate=0">7-9个月</a> <a
							class="" href="invest.do?status=0&timelimit=4&rate=0">10-12个月</a>
						<a class="" href="invest.do?status=0&timelimit=5&rate=0">13-15个月</a>
						<a class="" href="invest.do?status=0&timelimit=6&rate=0">15个月以上</a>
					</div>
				</div>

				<div class="invest-mue-filter">
					<span class="condition fl">年化利率：</span>
					<div class="options fl">
						<a class="selected btn-bbc1"
							href="invest.do?status=0&timelimit=0&rate=0">全部</a> <a class=""
							href="invest.do?status=0&timelimit=0&rate=1">10%以下</a> <a
							class="" href="invest.do?status=0&timelimit=0&rate=2">10%-15%</a>
						<a class="" href="invest.do?status=0&timelimit=0&rate=3">15%-18%</a>
						<a class="" href="invest.do?status=0&timelimit=0&rate=4">18%-20%</a>
						<a class="" href="invest.do?status=0&timelimit=0&rate=5">20%以上</a>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="invest-list-box">
		<div class="invest-list-head">
			<span class="col-1">名称</span> <span class="col-2">年化收益</span> <span
				class="col-3">金额</span> <span class="col-4">募集期</span> <span
				class="col-5">期限</span> <span class="col-6">操作</span>
		</div>
		<ul class="invest-list">
		<!--# for(pro in pages.list){  -->
			<li><span class="col-1"> <span
					class="kind icon-invest icon-invest-x"
					style="color: red; text-indent: 5px; line-height: 25px; font-weight: bold; overflow: hidden;">信用标</span>
					<a href="view.do?id=${pro.proId}" title="${pro.proName}">${pro.proName}</a>
			</span> <span class="col-2 fsd fc1">${pro.proApr,numberFormat="#.00"}%</span> <span class="col-3 fsc">${pro.proAccount/100,numberFormat="#"}元</span>
				<span class="col-4">
					<div class="percentbar">
						<span data-width='100.00%' class="bar-inner bg2"></span>
					</div> <span class="fsa db mt5">已到期</span>
			</span> <span class="col-5 fsd"><!--# if(pro.proTimeUint==1){  -->${pro.proTimeLimit}天<!--# }else{  -->${pro.proTimeLimit}个月<!--# } --></span> <span class="col-6">
					<div class="percentbar">
						<span data-width='3.00%' class="bar-inner bg2"></span>
					</div> <a class="status status-a"
					href="/project/view.do?id=${pro.proId}">投标中</a>
			</span></li>
			<!--# }  -->
		</ul>

		<!--# include("/tags/pages.htm",{"pages":pages}){} -->
		
	</div>
</div>
<script>
	$(function() {
		//
		$(document).on('mouseenter mouseleave', '.invest-mue-filter a',
				function(e) {
					if ($(this).hasClass('selected')) {
						return false;
					}
					if (e.type == 'mouseenter') {
						$(this).addClass('btn-bbc1');
					} else if (e.type == 'mouseleave') {
						$(this).removeClass('btn-bbc1');
					}
				})
		//
		percentbar($('.percentbar'));

	});
</script>
<!--# include("/views/public/footer.htm"){} -->