@charset "UTF-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: "微软雅黑";
}

ul, li, dl, dd, dt {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

/*--------框架--------*/
/*最外层*/
.login_main
{
	width:100%;
	height:auto;
	*+min-height:768px;
}
.out_space
{
	width:25%;
	height:100%;
	float:left;
}
.middle_con
{
	width:49.9%;
	height:100%;
	float:left;
	
}
/*两侧空间*/
.out_space_top
{
	width:100%;
	height:260px;
	clear:both;

}
.out_space_color
{
	width:100%;
	height:236px;
	background-color:#0e9be3;
	clear:both;
}

.middle_con_top
{
	width:100%;
	height:135px;
	clear:both;
}
.middle_logo
{
	width:100%;
	height:66px;
	overflow:hidden;
	margin-bottom:39px;
	padding-top:20px;
	clear:both;
	text-align:center;
}

.con_details
{
	width:100%;
	height:304px;
	position:relative;
	top:0;
	left:0;
}
.con_left,.con_right
{
	width:110px;
	height:237px;
	background-image:url(../images/login_bg.png);
	position:absolute;
	z-index:10;
}
.con_middle
{
	width:100%;
	height:206px;
	float:left;
	position:absolute;
	left:0;
	top:12px;
	background-color:#004b76;
	z-index:9;
}
.con_left
{
	float:left;
	background-position:0 -100px;
	left:0;
	top:0;
}
.con_right
{
	float:right;
	background-position:-110px -100px;
	right:0;
	top:0;
}
.con_login
{
	width:420px;
	height:310px;
	background-color:#fff;
	margin:0 auto;
	position:relative;
	top:-30px;
	z-index:12;
	border:1px solid #ccc;
	box-shadow:0px 0px 10px #ccc;
}
.con_login_title
{
	width:380px;
	height:60px;
	margin:0 20px;
	line-height:60px;
	font-size:16px;
	text-align:center;
	border-bottom:1px solid #ccc;
}

a.con_login_return
{
	font-size:12px;
	display:block;
	float:right;
	color:#999;
	text-decoration:none;
	cursor:pointer;
	margin-top:5px;
}
.con_login_con
{
	width:420px;
	height:220px;
	margin-top:10px;
	
	
}
.con_login_img
{
	width:100px;
	height:220px;
	float:left;
}
#login_info
{
    height:20px;
    line-height:20px;
    color:#f00;
    text-indent:25px;
}
.con_login_input
{
	width:319px;
	height:230px;
	float:left;
}
a.con_login_a
{
	width:320px;
	height:auto;
	display:block;
	float:left;
	
}
.input_side
{
	width:299px;
	height:50px;
	
}
.input_text
{
	width:80px;
	height:50px;
	line-height:50px;
	float:left;
	text-align:right;
}
.input_info
{
	width:164px;
	height:50px;
	float:left;
	text-align:left;
}
.input_number_side
{
	width:79px;
	height:50px;
	float:left;
	text-align:left;
}

.dv_input,.input_password,.input_number
{
	width:150px;
	height:30px;
	padding:0 5px;
	margin-top:9px;
	line-height:30px;
	background-color:#f7f7f7;
	border:1px solid #ccc;
}
.input_number
{
	width:79px;
}
.input_title
{
	width:50px;
	height:25px;
	margin:20px 0 0 5px;
	line-height:25px;
	float:left;
}
.input_num_img
{
	width:80px;
	height:auto;
	line-height:50px;
	float:left;
	margin:10px 0  0 15px;
	*+margin:0 0  0 15px;
}

.input_title a
{
	font-size:12px;
	}
.input_button
{
	width:160px;
	height:40px;
	margin:10px 0 0 40px;
	line-height:40px;
	border:0px;
	background-color:#65c339;
	color:#fff;
	font-size:18px;
	cursor:pointer;
	font-family: "微软雅黑";
}
.input_button:hover
{
	background-color:#369e06;
}
/*--------框架结束--------*/