@charset "utf-8";
body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "微软雅黑";
	overflow-x:scroll;
}
* { margin:0; padding:0; }
/*--------左导航--------*/
.leftNav_side
{
	width:100%;
	height:100%;
	background-color:#2c3e50;	
}
.Nav_lvl
{
	width:100%;
	color:#fff;
	font-size:16px;
	text-indent:32px;
	border-bottom:1px solid #354758;
	cursor:pointer;
}
.Nav_lvl dt,.Nav_lvl dd
{
	width:100%;
	height:50px;
	line-height:50px;
}
.Nav_lvl a
{
    display:block;
    width:100%;
    height:50px;
    color:#fff;
}
.Nav_lvl dd:hover a
{
    color: #f86b4f;
}
.Nav_lvl_dd_on a
{
	color:#f86b4f;
}
.Nav_lvl dt
{
	background-image:url(bg.png);
	background-position:-16px 0;
	background-repeat:no-repeat;
}
.Nav_lvl:hover  dt
{
	background-image:url(bg.png);
	background-position:-16px -40px;
	background-repeat:no-repeat;
}
.Nav_lvl dd
{
	text-indent:64px;
	display:none;
}
.Nav_dd_show dd
{
	display:block;
}
.Nav_lvl:hover,.Nav_lvl_on
{
	background-color:#34495e;
}
.Nav_lvl dd:hover
{
	color:#f86b4f;
}
.Nav_lvl_dd_on
{
	background-color:#eee;
	color:#f86b4f;
}

/*--------左导航结束--------*/


/*--------顶部导航--------*/
.topNav_side
{
    background-color: #eee;
    border-bottom: 1px solid #e3e3e3;
    height:59px;
}
.topNav_ul
{
	margin-left:10px;
}
.topNav_ul li
{
	width:100px;
	height:54px;
	float:left;
}
.topNav_ul a
{
    display:block;
    width:100px;
    height:54px;
    line-height:58px;
    text-align:center;
    font-size:16px;
    color:#000;
}
.topNav_li_on a
{
    color: #7cbbe5;
}
.topNav_ul li a:hover
{
    color:#7cbbe5;
}
.topNav_li_on
{
	height:48px;
	background-color:#fff;
	border-top:1px solid #e2e2e2;
	border-left:1px solid #e2e2e2;
	border-right:1px solid #e2e2e2;
	border-bottom:1px solid #fff;
	line-height:48px;
	position:relative;
	top:5px;
	z-index:10;
}

/*--------顶部导航结束--------*/