<ul class="router mt30">
	<li><span>当前位置：</span></li>
	<li><a href="${path}">首页</a><span class="divider">&gt;</span></li>
	<li><span class="current">用户中心</span></li>
</ul>
<div class="clearfix mt20 mainbox">
	<div class="fl aside-mod-1">
		<div class="usercard">
			<div class="usercard-top uc-pd">
				<div class="fsc welcome ellipsis">
					Hi,<span class="fc1 fsb fwb">fx3333</span>
				</div>
				<div class="percentbar">
					<span data-width="80%" class="bar-inner bg2"
						style="display: inline-block; width: 80%;"></span>
				</div>
				<div class="fsa ofh lha">
					安全等级：<span class="fsb fc1 fwb"> 中 </span><a class="fr update"
						href="${path}safecenter/index.do">去提升>></a>
				</div>
			</div>
			<div class="usercard-bottom uc-pd2">
				<div class="tac fwb fsc fc0">可用余额</div>
				<div class="mt5 fsc tac">
					￥<span class="fc1 fwb">4881.00</span>
				</div>
				<div class="mt10 tac">
					<a class="btn-bbc1 fwb" href="${path}usercenter/recharge.do">立即充值</a>
				</div>
			</div>
		</div>

		<dl class="asidenav">
			<dt class="asidenav-title">我的账户</dt>
			<dd class="asidenav-item  current"> <a href="${path}usercenter/home.do">用户总览</a>
			</dd>
			<dd class="asidenav-item"> <a href="${path}usercenter/bill.do">交易记录</a>
			</dd>
			<dd class="asidenav-item"> <a href="${path}usercenter/recharge.do">用户充值</a>
			</dd>
			<dd class="asidenav-item"> <a href="${path}usercenter/cash.do">用户提现</a>
			</dd>
			<dd class="asidenav-item"> <a href="${path}usercenter/bank.do">银行卡</a>
			</dd>
			<dd class="asidenav-item"> <a href="${path}usercenter/integral_address.do">地址管理</a>
			</dd>
			<dd class="asidenav-item"> <a href="${path}usercenter/integral_order.do">积分管理</a>
			</dd>
			<dd class="asidenav-item"> <a href="${path}usercenter/reward.do">我的红包</a>
			</dd>
			<dd class="asidenav-item"> <a href="${path}usercenter/invite_user.do">邀请好友</a>
			</dd>
		</dl>
		<dl class="asidenav">
			<dt class="asidenav-title">我的投资</dt>
			<dd class="asidenav-item"> <a href="${path}userproject/list.do">我的借款</a>
			</dd>
			<dd class="asidenav-item"> <a href="${path}userproject/repay_project.do">偿还借款</a>
			</dd>
			<dd class="asidenav-item"> <a href="${path}userproject/order_list.do">投资记录</a>
			</dd>
			<dd class="asidenav-item"> <a href="${path}userproject/auto_order.do">投资助手</a>
			</dd>
			<dd class="asidenav-item"> <a href="${path}userproject/debt.do">债权转让</a>
			</dd>
			<dd class="asidenav-item"> <a href="${path}userproject/appcredit.do">借款额度申请</a>
			</dd>
		</dl>
	</div>