<!--# include("/views/public/header.htm"){} -->
<link rel="stylesheet" href="${path }user/css/rl.css">
<!--主要内容开始-->

<div class="wrapper">
	<div class="reg-box mt30">
		<h1 class="reg-head step-two hidetext1">1请填写用户信息</h1>
		<div class="tac mt50">
			<img src="${path }/user/images/reg-success.png">
			<div class="fc2 fsf mt10">
				恭喜用户
				${username!}
				注册成功
			</div>
			<div class="mt20 fwb fsd">
				获得<span class="fc3">
					888
				</span>元新手礼包
			</div>
			<div class="mt30 lfc2">
				<span class="icon-tips-ssl"></span>您的信息已使用SSL加密技术，数据传输安全
			</div>
		</div>
	</div>
</div>
<!--主要内容结束-->
<!--# include("/views/public/footer.htm"){} -->
