@charset "utf-8";
/*

*/
/*reset*/
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section{
	margin:0;
	padding:0;
}
html {
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	text-rendering:optimizelegibility;
}
body,button,input,select,textarea {
	font-size: 14px;
	font-family: Avenir,Arial,Roboto,"Droid Sans","Droid Sans Fallback","Hiragino Sans GB","Microsoft YaHei","微软雅黑",SimSun,sans-serif;
	color:#666;
}
ul,ol {
	list-style: none;
}
a {	
	cursor: pointer;
	color:#333;
	text-decoration: none;
}
a:hover {
	color: #333;
}
img {
	cursor: pointer;
	vertical-align: middle;
	border: 0 none;
}

button, input{
	/* 让 input 和 button 一样高 */
	line-height:normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner{
	padding:0;
	border:0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 统一上标和下标 */
sub, sup{
	font-size:75%;
	line-height:0;
	position:relative;
}

:root sub, :root sup{
	vertical-align:baseline; /* for ie9 and other modern browsers */
}

sup{
	top:-0.5em;
}

sub{
	bottom:-0.25em;
}
strong {
	font-weight: normal;
}
mark {
	background: none;
}
/*文章中样式*/

/*原子类*/
.clearfix:after {
	content: '\200B';
	display: block;
	height: 0;
	font-size: 0;
	visibility: hidden;
	clear: both;
}
.clearfix {
	zoom: 1;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.tac {
	text-align: center;
}
.tar {
	text-align: right;
}
.tal {
	text-align: left;
}
.vat {
	vertical-align: top;
}
.vac {
	vertical-align: center;
}
.vab {
	vertical-align: bottom;
}
.cb {
	clear: both;
}
.ti2 {
	text-indent: 2em;
}
.ofh {
	overflow: hidden;
}
.posr {
	position: relative;
}
.db {
	display: block;
}
.di {
	display: inline;
}
.dtbc {
	display: table-cell;
	*display:inline-block;
	text-align: center;
	vertical-align: middle;
}
.mt0 {
	margin-top: 0px;
}
.mt5 {
	margin-top: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mt15 {
	margin-top: 15px;
}
.mt20 {
	margin-top: 20px;
}
.mt25 {
	margin-top: 25px;
}
.mt30 {
	margin-top: 30px;
}
.mt35 {
	margin-top: 35px;
}
.mt40 {
	margin-top: 40px;
}
.mt45 {
	margin-top: 45px;
}
.mt50 {
	margin-top: 50px;
}
.mb0 {
	margin-bottom: 0px;
}
.mb5 {
	margin-bottom: 5px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb15 {
	margin-bottom: 15px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb25 {
	margin-bottom: 25px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb35 {
	margin-bottom: 35px;
}
.mb40 {
	margin-bottom: 40px;
}
.mb45 {
	margin-bottom: 45px;
}
.mb50 {
	margin-bottom: 50px;
}
.mr0 {
	margin-right: 0px;
}
.mr5 {
	margin-right: 5px;
}
.mr10 {
	margin-right: 10px;
}
.mr15 {
	margin-right: 15px;
}
.mr20 {
	margin-right: 20px;
}
.mr25 {
	margin-right: 25px;
}
.mr30 {
	margin-right: 30px;
}
.mr35 {
	margin-right: 35px;
}
.mr40 {
	margin-right: 40px;
}
.mr45 {
	margin-right: 45px;
}
.mr50 {
	margin-right: 50px;
}
.ml0 {
	margin-left: 0px;
}
.ml5 {
	margin-left: 5px;
}
.ml10 {
	margin-left: 10px;
}
.ml15 {
	margin-left: 15px;
}
.ml20 {
	margin-left: 20px;
}
.ml25 {
	margin-left: 25px;
}
.ml30 {
	margin-left: 30px;
}
.ml35 {
	margin-left: 35px;
}
.ml40 {
	margin-left: 40px;
}
.ml45 {
	margin-left: 45px;
}
.ml50 {
	margin-left: 50px;
}
.fwn {
	font-weight: normal;
}
.fwb {
	font-weight: bold;
}
.fsa {
	font-size: 12px;
}
.fsb {
	font-size: 14px;
}
.fsc {
	font-size: 16px;
}
.fsd {
	font-size: 18px;
}
.fse {
	font-size: 20px;
}
.fsf {
	font-size: 22px;
}
.fsg {
	font-size: 24px;
}
.fsh {
	font-size: 26px;
}
.fsi {
	font-size: 28px;
}
.fsj {
	font-size: 30px;
}
.lha {
	line-height: 18px;
}
.lhb {
	line-height: 20px;
}
.lhc {
	line-height: 22px;
}
.lhd {
	line-height: 24px;
}
.lhe {
	line-height: 26px;
}
/*
样式配置原子类
*/
.fc0,a.fc0 {
	color: #000;
}
.fc1,a.fc1 {
	color: #ff5b01;
}
.fc2,a.fc2 {
	color: #02577c;
}
.fc3,a.fc3 {
	color: #c5a153;
}
.lfc0,a.lfc0 {
	color: #fff;
}
.lfc1,a.lfc1 {
	color: #666;
}
.lfc2,a.lfc2 {
	color: #999;
}
.lfc3,a.lfc3 {
	color:#5E5E5E;
}
.lfc4,a.lfc4 {
	color:#02577c;
}
.bg1 {
	/*网站主色*/
	background-color: #03577c;
}
.bg2 {
	background-color: #ff5b01;
}
.bg3 {
	background-color: #ff3d3d;
}
/*淡色背景*/
.lbg0 {
	background-color: #fff;
}
.lbg1 {
	background-color: #f6f6f6;
}
.lbg2 {
	background-color: #ccc;
}
/*
布局
*/
.border-mod {
	border: 1px solid #ccc;
}
.wrapper {
	width: 1008px;
	margin-left: auto;
	margin-right: auto;
}

/*
按钮和装饰小图标
*/
/*简单按钮样式 */

a.btn-bbc1,a.btn-bbc2,a.btn-bbc3 {
	color: #fff;
}
.btn-bbc1,.btn-bbc2,.btn-bbc3 {
	display: inline-block;
	color: #fff;
	border-radius: 3px;
}
.btn-bbc1 {
	background: #ff5b01;
}
.btn-bbc2 {
	background: #afafb1;
}
.btn-bbc3 {
	background: #03577c;
}
.icon-head {
	display: inline-block;
	width: 46px;
	height: 46px;
}
.icon-head-borrow {
	background: url(../images/borrow_ico.png) no-repeat center;
}
.icon-head-notice {
	background: url(../images/news_ico.png) no-repeat center;
}
.icon-head-article {
	background: url(../images/article_ico.png) no-repeat center;
}
.icon-head-cooper {
	background: url(../images/partner_ico.png) no-repeat center;
}
/*信 担 抵 秒*/
.icon-invest {
	display: inline-block;
	width: 25px;
	height: 25px;
}
.icon-invest-x {
	background: url(../images/icon-invest-1.png) no-repeat center;
}
.icon-invest-d {

}
.icon-invest-c {
	
}
.icon-invest-m {
	
}
/*
公用小模块
*/
.ellipsis {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.grayfilter {
	 filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
     -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
.textdivier {
	padding: 0 6px;
}
.hidetext1 {
	text-indent: -999em;
	overflow: hidden;
}
/*
样式组件
*/
/*板块头部*/
.sty1-head {
	overflow: hidden;
	height: 46px;
}
.sty1-head .title {;
	height: 46px;
	line-height: 46px;
	font-size: 26px;
	font-weight: bold;
	color: #000;
}
.sty1-head .title-small{
	height: 22px;
	line-height: 22px;
	font-size: 22px;
}
.sty1-head .more {
	float: right;
	margin-top: 16px;
	font-size: 18px;
}
/*选项卡形式的头部导航*/
.sty1-nav {
	overflow: hidden;
	text-align: center;
}
.sty1-nav a {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	float: left;
	padding: 11px 0;
	width: 50%;
	font-size: 28px;
	line-height: 1;
	color: #666;
	background: #f4f3f3;
	border-top: 4px solid #ccc;
}
.sty1-nav .current {
	color: #ff5b01;
	background: #fff;
	border-top: 4px solid #ff5b01;
}
.sty2-nav {
	font-size: 0;
	border-top: 5px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #f4f3f3;
}
.sty2-nav a {
	position: relative;
	display: inline-block;
	margin: -6px 0 -1px 0;
	width: 170px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 2px;
	border-top: 6px solid #ccc;
	border-right: 1px solid #ccc;
}
.sty2-nav .current {
	color: #ff5b01;
	font-weight: bold;
	border-top: 6px solid #ff5b01;
	background: #fff;
}
.sty2-nav .num {
	position: absolute;
	top: 18px;
	right: 10px;
	padding: 1px 6px 1px 4px;
	font-size: 12px;
	line-height: 1;
	color: #fff;
	background: #ff5b01;
	border-radius: 4px;
}
.sty2-nav .num:after {
	content: '';
	position: absolute;
	right: 100%;
	top: 4px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 3px 4px;
	border-color: transparent #ff5b01 transparent transparent;
}
/*内容页大标题*/
.archead {
	padding: 35px 0;
	margin-bottom: 55px;
	color: #fff;
}
.archead a {
	color: inherit;
}
.archead .title {
	font-size: 30px;
	font-weight: normal;
	line-height: 1;
}
.archead .date {
	margin-top: 5px;
	line-height: 1;
}
.archead .back {
	float: right;
	padding-left: 25px;
	background: url(../images/arc-title-back.png) no-repeat left center;
	margin-top: 30px;
}
.archead .caculater {
	padding-left: 35px;
	background: url(../images/arc-title-jsq.png) no-repeat left 0;
}
/*文字列表*/
.sty1-nlist>li {
	overflow: hidden;
	padding-left: 20px;
	height: 30px;
	line-height: 30px;
	background: url(../images/list-ico-1.png) no-repeat 5px center;
}
/*图片列表*/
.sty1-plist {

}
/*胖（插图文字。。）列表*/
.sty1-flist>li {
	overflow: hidden;
	padding: 15px 5px;
	font-size: 13px;
	border-bottom: 1px dashed #ccc;
}
.sty1-flist img {
	width: 160px;
	height: 100px;
	margin-right: 20px;
	border: 2px solid #ccc; 
}
.sty1-flist .title {
	padding: 6px 0;
	font-weight: bold;
	font-size: 16px;
}
.sty1-flist .intro {
	overflow: hidden;
	margin-top: 10px;
	height: 40px;
	line-height: 20px;
}
/*特殊列表*/
.invest-spelist-mod-1 {
	margin: 15px 0 30px 40px;
}
.invest-spelist>li:hover {
	background: #caa84e;
}
.invest-spelist>li {
	position: relative;
	float: left;
	margin: 9px 32px 9px 0;
	width: 200px;
	padding: 4px;
	height: 230px;
	padding-bottom: 35px;
	background: #ccc;
	border-radius: 5px;
}
.invest-spelist .status {
	position: absolute;
	left: 4px;
	bottom: 4px;
	width: 200px;
	overflow: hidden;
	height: 35px;
	line-height: 35px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	border-radius: 0 0 4px 4px;
}
.invest-spelist .head {
	height: 36px;
	line-height: 35px;
	color: #fff;
	font-size: 16px;
	background: #03577c;
	border-radius: 4px 4px 0 0;
}
.invest-spelist .content {
	padding: 5px 10px;
	height: 180px;
	background: #fff;
}
.invest-spelist .content .l1 {
	padding: 5px 0 8px;
	border-bottom: 1px dashed #ccc;
}
.invest-spelist .content .l2 {
	overflow: hidden;
	height: 52px;
	margin-top: 8px;
	line-height: 1;
	text-align: center;
}
.invest-spelist .content .l3 {
	margin-top: 15px;
	font-size: 12px;
}
.invest-spelist .kind {
	margin-left: 10px;
	vertical-align: middle;
}
.invest-spelist .name {
	margin-left: 15px;
}
.invest-spelist .income {
	color: #ff5b01;
}
.invest-spelist .barbox {
	margin-top: 8px;
	height: 12px;
	line-height: 12px;
}
.invest-spelist .bar-title {
	font-size: 12px;
}

/*
*****
语义化模块：
*****
*/
.topper,.navbox,.banner,.centerbar,.quick-links,.fatfooter {
	min-width: 1008px; 
}
.topper {
	height: 45px;
	line-height: 45px;
	font-size: 12px;
	border-top: 5px solid #03577c;
	border-bottom: 1px solid #ccc;
	background: #f6f6f6;
}
.topper-tel-box {
	overflow: hidden;
	height: 45px;
	padding-left: 16px;
	background: url(../images/top_phone_ico.png) no-repeat 0 center;
}
.topper-tel {
	font-weight: bold;
	font-size: 16px;
	margin-left: 6px;
	color: #333;
	font-style: italic;
}
.topper-links {
	font-size: 13px;
}
.topper-rl {
	color: #c5a153;
	font-weight: bold;;
}
.topper-rl:hover {
	color: #c5a153;
}
.navbox {
	z-index: 10;
	position: relative;
	font-size: 13px;
	border-bottom: 1px solid #ccc;
}
.navbox-logo {
	height: 120px;
	width: 300px;
}
.nav>li {
	position: relative;
	float: left;
	height: 120px;
	text-align: center;
}
.nav>li:hover {
	background-color: #ff5b01;
}
/*
.nav>li:after {
	content: '';
	position: absolute;
	top: 117px;
	left: 35px;
	width: 0;
	height: 3px;
	background-color: #fff;
	transition:all 0.2s;
}
.nav>li:hover:after {
	width: 70px;
	left: 0;
}
*/
.nav-a {
	background: url(../images/menu_ico01_1.png) no-repeat center 34px;
}
.nav-a:hover {
	background: url(../images/menu_ico01_2.png) no-repeat center 34px;
}
.nav-b {
	background: url(../images/menu_ico02_1.png) no-repeat center 34px;
}
.nav-b:hover {
	background: url(../images/menu_ico02_2.png) no-repeat center 34px;
}
.nav-c {
	background: url(../images/menu_ico03_1.png) no-repeat center 34px;
}
.nav-c:hover {
	background: url(../images/menu_ico03_2.png) no-repeat center 34px;
}
.nav-d {
	background: url(../images/menu_ico04_1.png) no-repeat center 34px;
}
.nav-d:hover {
	background: url(../images/menu_ico04_2.png) no-repeat center 34px;
}
.nav-e {
	background: url(../images/menu_ico05_1.png) no-repeat center 34px;
}
.nav-e:hover {
	background: url(../images/menu_ico05_2.png) no-repeat center 34px;
}
.nav-f {
	background: url(../images/menu_ico06_1.png) no-repeat center 34px;
}
.nav-f:hover {
	background: url(../images/menu_ico06_2.png) no-repeat center 34px;
}
.nav-g {
	background: url(../images/menu_ico07_1.png) no-repeat center 34px;
}
.nav-g:hover {
	background: url(../images/menu_ico07_2.png) no-repeat center 34px;
}
.nav-h {
	background: url(../images/menu_ico08_1.png) no-repeat center 34px;
}
.nav-h:hover {
	background: url(../images/menu_ico08_2.png) no-repeat center 34px;
}
.nav>li>a {
	position: relative;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	display: block;
	width: 80px;
	height: 120px;
	padding-top: 70px;
}
.nav>li:hover a {
	color: #fff;
	text-decoration:none;
}
.banner {
	position: relative;
	margin: -16px auto 0;
	max-width: 2000px;
}
.banner .next,.banner .prev {
	z-index: 4;
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	margin-top: -25px;
	cursor: pointer;
}
.banner .next {
	right: 50%;
	margin-right: -500px;
	background: url(../images/banner_next.png) no-repeat center;
}
.banner .prev {
	left: 50%;
	margin-left: -500px;
	background: url(../images/banner_prev.png) no-repeat center;
}
.banner-nav {
	z-index: 4;
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -23px;
}
.banner-nav a {
	float: left;
	overflow: hidden;
	width: 18px;
	height: 18px;
	line-height: 48px;
	margin-left: 5px;
	background: url(../images/banner_roll01.png);
}
.banner-nav a.current {
	background: url(../images/banner_roll02.png);
}
.banner-con {
	position: relative;
	overflow: hidden;
	height: 350px;
}
.banner-con li {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center top;
}
.banner-topshadow {
	height: 16px;
	background: url(../images/banner_top.png) no-repeat center;
}
.banner-bottomshadow {
	height: 23px;
	background: url(../images/banner_bottom.png) no-repeat center;
}
.quick-links {
	height: 50px;
	line-height: 50px;
	background: #ccc;
}
.quick-links li {
	float: left;
	margin-right: 20px;
	font-size: 16px;
}
.quick-links a {
	color: inherit;
}
.fatfooter {
	padding: 15px 0;
	color: #fff;
	background: #005079;
}
.fatfooter a {
	color: #ccc;
}
.ft-nav {
	width: 615px;
	padding: 12px 0 0;
}
.ft-nav>dl {
	float: left;
	padding: 0 72px 0 0;
}
.ft-nav>dl>dt {
	color: #eee;
	padding: 0 0 8px
}
.ft-nav>dl>dd {
	white-space: nowrap;
	line-height: 25px;
	font-size: 12px;
	height: 30px;
}
.ft-nav>.images>dd {
	height: 32px;
	line-height: 32px;
}
.ft-nav-weibo,.ft-nav-qq,.ft-nav-weixin {
	display: inline-block;
	vertical-align: middle;
	padding-left: 40px;
}
.ft-nav-weibo {
	background: url(../images/bottom_icon_03.png) no-repeat left 2px;
}
.ft-nav-qq {
	background: url(../images/bottom_icon_05.png) no-repeat left 2px;
}	
.ft-nav-weixin {
	background: url(../images/bottom_icon_08.png) no-repeat left 2px;
}
.mainbox {
	margin-left: 162px;
	border: 1px solid #ccc;
}
.aside-mod-1 {
	z-index: 2;
	position: relative;
	margin: -1px 0 -1px -162px;
	width: 162px;
	border-top: 1px solid #ccc;
}
.content-mod-1 {
	margin-left: -1px;
	padding: 20px;
}
.asidenav {
	line-height: 42px;
	text-align: center;
	background: #f4f3f3;
}
.asidenav-item {
	border-left: 5px solid #ccc;
	border-right: 1px solid #ccc;
}
.asidenav-title {
	padding-left: 5px;
	font-weight: bold;
	background: #fff;
	cursor: pointer;
	text-align: left;
	border-left: none;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.asidenav-title:hover {
	border-left: none;
}
.asidenav-item>a {
	display: block;
	color: #666;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ccc;
}
.asidenav-item:hover,.asidenav-item.current {
	border-left: 5px solid #ff5b01;
	border-right:none; 
}
.asidenav-item:hover>a,.asidenav-item.current>a {
	color: #ff5b01;
	text-decoration: none;
	background: #fff;
	border-right: 1px solid transparent;	
}
.router
{
	padding:5px 0 0 25px;
	overflow: hidden;
	line-height:20px;
	background-image: url(../images/current_location.png);
	background-repeat: no-repeat;
	background-position: left center;	
}
.router li {
	float: left;
}
.router a,.router span {
	color: #666;
}
.router .divider {
	padding: 0 3px;
	color: #000;
}
.router .current {
	color: #02577c;
}
.pager a,.pager span {
	display: inline-block;
	margin: 0 3px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	background: #ccc;
	border-radius: 4px;
}
.pager .current,.pager :hover {
	color: #fff;
	background: #ff5b01;
}
.pager :active {
	box-shadow: inset 0px 1px 3px rgba(0,0,0,0.3),0px 1px 0px white;
}
/*
*****
page独有样式部分
*****
*/
.safety-box,.simplebanner,.archead {
	min-width: 1008px;
}
.simplebanner
{
	overflow:hidden;
	background-color:#e6e6e6;
}
/*首页样式*/
.ind-con-a {
	width: 680px;
}	
.ind-con-b {
	width: 320px;
}
.ind-margin-mod {
	margin-left: 30px;
} 
.centerbar {
	height: 125px;
	color: #fff;
	font-size: 30px;
	line-height: 125px;
}
.centerbar span {
	font-size: 70px;
	font-weight: bold;
}
/*安全保障样式*/
.safe_nl
{
	width:430px;
	overflow:hidden;
	text-align:center;
}
.safe_nr
{
	width:550px;
	overflow:hidden;
	
}
.safety-box
{
	margin-top: 60px;
	padding: 50px 0;
	overflow:hidden;
	background-color:#fafafa;
	border-top:1px #ccc solid;
	border-bottom:1px #ccc solid;
}
/*我要投资*/
.invest-border-mod {
	border: 1px solid #ccc
}
.invest-mue
{
	width: 95%;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	border:1px #ccc solid;	
}
.invest-mue-nav {
	height: 42px;
	line-height: 42px;
	font-size: 15px;
	border-bottom: 1px #ccc solid;
}
.invest-mue-nav a {
	float: left;
	padding: 0 30px;
	border-right: 1px solid #ccc;
}
.invest-mue-nav a.current {
	position: relative;
	background: #ccc;
}
.invest-mue-nav a.current:after {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 50%;
	margin-left: -5px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 5px;
	border-color: transparent transparent #fff transparent;
}
.invest-mue-con {
	padding: 0 0 15px 20px;
}
.invest-mue-filter {
	overflow: hidden;
	margin-top: 15px;
	line-height: 28px;
}
.invest-mue-filter .condition {
	float: left;
	width: 100px;
}
.invest-mue-filter .options a {
	display: inline-block;
	margin-right: 20px;
	width: 85px;
	height: 28px;
	text-align: center;
}
.invest-list-box{
	width: 95%;
	margin: 20px auto;
}
.invest-list-head {
	overflow: hidden;
	padding: 15px 5px;
}
.invest-list-head span {
	display: inline-block;
	vertical-align: top;
	font-size: 15px;
	color: #777;
}
.invest-list-head .col-1 {
	width: 20%;
	text-indent: 3em;
}
.invest-list-head .col-2 {
	width: 20%;
}
.invest-list-head .col-3 {
	width: 15%;
}
.invest-list-head .col-4 {
	width: 15%;
}
.invest-list-head .col-5 {
	width: 10%;
}
.invest-list .col-1 {
	width: 20%;
	vertical-align: middle;
}
.invest-list .col-2 {
	width: 20%;
}
.invest-list .col-3 {
	width: 15%;
}
.invest-list .col-4 {
	width: 15%;
	overflow: hidden;
}
.invest-list .col-5 {
	width: 10%;
}
.invest-list>li {
	overflow: hidden;
	padding: 15px 5px;
	border-bottom: 1px dashed #ccc;
	transition: 0.6s all;
}
.invest-list>li>span {
	display: inline-block;
	vertical-align: top;
}
.invest-list .kind {
	vertical-align: middle;
	margin-right: 1em;
}
.invest-list .status {
	display: inline-block;
	margin-top: 10px;
	width: 130px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	text-align: center;
	color: #fff;
	background: #ccc;
	border-radius: 5px;
}
.invest-list .status-a {
	background: #03577c;
}
.invest-list .status-b {
	background: #ccc;
}
.invest-list>li:hover {
	background-color: #fcfbf6;
}

.invest-box-a,.invest-box-b {
	box-sizing: border-box;
	min-height: 260px;
}
.invest-box-a {
	position: relative;
	width: 680px;
	padding: 30px 0 0 30px;
}
.invest-box-b {
	width: 300px;
	padding: 30px 30px 0 30px;	
}
.invest-box-a .col-1,.invest-box-a .col-2,.invest-box-a .col-3 {
	box-sizing:border-box;
	padding: 0 2px 200px;
	margin-bottom: -200px;
	word-break: break-all;
}
.invest-box-a .col-1 {
	width: 40%;
}
.invest-box-a .col-2 {
	padding-left: 20px;
	width: 30%;
	border-left: 1px solid #ccc;
}
.invest-box-a .col-3 {
	padding-left: 20px;
	border-left: 1px solid #ccc;
}
.invest-box-a .info {
	margin-top: 5px;
	font-size: 24px;
	line-height: 45px;
}
.invest-box-a .info .data-1 {
	font-size: 40px;
}
.invest-box-a .info .data-2 {
	font-size: 35px
}	
.invest-box-a .info .data-3 {
	font-size: 40px
}
.invest-box-a:after {
	/*占位*/
	content: '';
	display: block;
	height: 4em;
}
.invest-box-a-ft {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3em;
	line-height: 3em;
	border-top: 1px solid #ccc;
}
.invest-box-a-ft .fc1 {
	padding: 0 3px;
	font-size: 18px;
} 
.invest-box-b .money {
	padding: 5px 0;
	font-size: 30px;
	word-break: break-all;
}
.invest-box-b .input {
	height: 32px;
	width: 200px;
	padding-left: 15px;
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	outline: none;
}
.invest-box-b .submit {
	width: 120px;
	height: 34px;
	line-height: 34px;
	border: none;
	outline: none;
	cursor: pointer;
}
.invest-box-c .tabcon {
	padding: 30px;
}
.invest-dlist {
	overflow: hidden;
	margin-bottom: 25px;
	line-height: 1.6em;
}
.invest-dlist dt {
	float: left;
}
.invest-dlist dd {
	margin-left: 120px;
}
.invest-dlist .percentbar {
	margin-top: 3px;
}
/*表格*/
.normal-table .con33 {
	width: 33%;
}
.normal-table th {
	padding: 10px 0;
	background: #efefef;
}
.normal-table td {
	text-align: center;
	padding: 12px 5px;
}
.normal-table tr td {
	border-bottom: 1px solid #f1f1f1;
}
.normal-table tr:hover td {
	background: #F7F8FA;
}
/*关于我们*/
.about-nlist>li {
	padding: 12px 5px;
	border-bottom: 1px dotted #ccc;
}
.about-nlist .titlebox {
	overflow: hidden;
	line-height: 20px;
	margin-bottom: 8px;
}
.about-nlist .title {
	float: left;
	padding-left: 20px;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	background: url(../images/list-ico-2.png) no-repeat left 4px;
}
.about-nlist .date {
	float: right;
	font-size: 12px;
	color: #999;
}
.about-nlist  .intro {
	line-height: 1.5;
}
.about-nlist .title:hover a {
	color: #02577c;
}
/*积分商城*/
.shop-list>li {
	position: relative;
	float: left;
	width: 50%;
	height: 242px;
	margin: 0 0 20px 0;
	transition: all .3s ease;
}
.shop-list>li>div {
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	margin: auto;
	width: 480px;
	height: 240px;
	padding: 0 0 0 30px;
	border: 1px solid #e6e6e6;
}
.shop-list .stitle {
	margin-top: 70px;
	font-weight: normal;
	font-size: 18px;
}
.shop-list .title {
	margin-top: 12px;
	font-weight: normal;
	font-size: 26px;
}
.shop-list .num {
	margin-left: -20px;
	padding-left: 20px;
	font-size: 21px;
	line-height: 20px;
	background: url(../images/shop-num-ico.png) no-repeat left 0;
}
.shop-list .exchange {
	display: block;
	margin-top: 10px;
	width: 130px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 18px;
}
.shop-list .figure {
	z-index: -1;
	position: absolute;
	right: -20px;
	top: 0;
	width: 500px;
	height: 240px;
}
.product-box-b .tabcon {
	padding: 20px 10px;
}
.product-gallery {
	width: 380px;
	padding: 20px 0;
	border: 2px solid  #ccc;
	border-radius: 3px;
}
.product-bigpic {
	position: relative;
	width: 320px;
	height: 320px;
	margin:  0 auto;
	border: 1px solid #eee;
}
.product-bigpic .pic {
	width: 320px;
	height: 320px;
}
.product-bigpic .bigger {
	display: none;
	z-index: 20;
	position: absolute;
	width: 400px;
	height: 400px;
	border: 2px solid #ccc;
	top: -23px;
	left: 360px;
	background: #fff;
	overflow: hidden;
	border-radius: 3px;
}
.product-bigpic .bigger img {
	position: relative;
	width: 800px;
	height: 800px;
}
.product-zoom {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 190px;
	height: 190px;
	border: 1px solid #aaa;
	background: #fff;
	opacity: 0.5;
	filter: alpha(Opacity=50);
	cursor: move;
}
.product-spic {
	position: relative;
	margin-top: 10px;
}
.product-spic .next,.product-spic .prev {
	position: absolute;
	top: 0;
	width: 10px;
	height: 56px;
	background:#f7f4f0;
	border: 1px solid #ff5b01;
	cursor: pointer;
}
.product-spic .next {
	right: 15px;
}
.product-spic .prev {
	left: 15px;
}
.product-spic .next.none {
	border: 1px solid #ccc;
}
.product-spic .prev.none {
	border: 1px solid #ccc;
}
.product-spic-inner {
	width: 320px;
	height: 58px;
	margin: auto;
	overflow: hidden;
}
.product-spic-list {
	overflow: hidden;
}
.product-spic-list>li {
	float: left;
	margin: 0 3px;
	border: 2px solid transparent;
}
.product-spic-list>li.current {
	border: 2px solid #ff5b01;
}
.product-spic-list>li img {
	width: 54px;
	height: 54px;
	vertical-align: top;
}
.product-info-box {
	width: 490px;
}
.product-info-box .title {
	padding: 10px 0 10px 0;
	font-weight: bold;
	font-size: 16px;
}
.product-info-box .stitle {
	padding-bottom: 12px;
	font-weight: normal;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
}
.product-info-box .dt {
	display: inline-block;
	vertical-align: middle;
	width: 70px;
	font-size: 12px;
	font-weight: bold;
	color: #999;
}
.product-info-box .type {
	padding: 12px 0 14px;
	border-bottom: 1px solid #ccc;
}
.product-info-box .type .dl {
	position: relative;
	margin: 5px 0 0 110px;
	font-size: 0;
}
.product-info-box .type .dt {
	position: absolute;
	left: -110px;
	width: 110px;
}
.product-info-box .type a {
	display: inline-block;
	padding: 3px 7px;
	margin: 0 5px 5px 0;
	line-height: 1;
	font-size: 12px;
	border: 1px solid #e2e1e3;
}
.product-info-box .type a:hover {
	color: #ff5b01;
	border: 1px solid #ff5b01;
}
.product-info-box .point {
	padding: 12px 0 14px;
	border-bottom: 1px solid #ccc;
}
.product-info-box .point .dd {
	display: inline-block;
	padding: 0 20px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	color: #ff5b01;
	border: 1px solid #ff5b01;
}
.product-info-box .location .select {
	outline: none;
	border: 1px solid #e2e1e3;
}
.product-info-box .count {
	font-size: 0;
}
.product-info-box .count .dd {
	display: inline-block;
	vertical-align: middle;
}
.product-info-box .count .sub,.product-info-box .count .add {
	display: inline-block;
	vertical-align: middle;
	height: 22px;
	line-height: 22px;
	width: 24px;
	font-size: 16px;
	text-align: center;
	border: 1px solid #e2e1e3;
	cursor: pointer;
}
.product-info-box .count .text {
	display: inline-block;
	vertical-align: middle;
	padding: 0 5px;
	height: 22px;
	width: 30px;
	border: none;
	border-top: 1px solid #e2e1e3;
	border-bottom: 1px solid #e2e1e3;
	outline: none;
}
.product-info-box .submit {
	width: 160px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border: none;
	outline: none;
	cursor: pointer;
}
/*新手指导*/
.guide-welcome {
	margin: 50px auto;
	text-align: center;
}
/*我要借款*/
.loan-box {
	padding: 0 54px;
}
.loan-title {
	margin-bottom: 20px;
	color: #333;
	letter-spacing: 2px;
}
.loan-form-box {
	width: 540px;
}
.loan-tips-box {
	width: 360px;
}
.loan-form .line,.caculater-form .line {
	position: relative;
	margin-bottom: 30px;
}
.loan-form .label,.caculater-form .label {
	display: inline-block;
	height: 42px;
	line-height: 42px;
	width: 125px;
	font-size: 16px;
	text-align: left;
}
.caculater-form .label {
	width: 100px;
}
.loan-form .input ,.loan-form .select,.caculater-form .input,.caculater-form .select {
	display: inline-block;
	  padding-left: 15px;
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	outline: none;

}
.loan-form .input,.caculater-form .input {
	width: 300px;
	height: 40px;
	padding-right: 30px;
	font-size: 16px;
	letter-spacing: 1px;
}
.loan-form .select,.caculater-form .select {
	height: 42px;
	margin-right: 15px;
}
.loan-form input.month {
	background: url(../images/borrow-yue.png) no-repeat right top;
}
.loan-form input.yuan {
	background: url(../images/borrow-yuan.png) no-repeat right top;
}
.loan-tips {
	padding: 40px 30px 30px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 16px;
	line-height: 220%;
}
.loan-tips .special {
	display: block;
	padding-left: 70px;
	background: url(../images/loan-tip.png) left center no-repeat;
	font-size: 14px;
	height: 61px;
	line-height: 180%;
}
.loan-submit {
	display: inline-block;
	width: 270px;
	height: 60px;
	line-height: 60px;
	color: #fff;
	font-size: 32px;
	background: #ff5b01;
	border: none;
	outline: none;
	border-radius: 10px;
	cursor: pointer;
}
/*还款计算器*/
.caculater-box {
	width: 380px;
}
.caculater-form .input {
	width: 130px;
}
.caculater-form .submit,.caculater-form .reset {
	height: 40px;
	line-height: 40px;
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
	border: none;
	outline: none;
	cursor: pointer;
}
.caculater-form .submit {
	width: 190px;
}
.caculater-form .reset {
	box-sizing:border-box;
	margin-left: 30px;
	width: 100px;
	color: #ff5b01;
	border: 2px solid #ff5b01;
	background: #fff;
	border-radius: 3px;
}
.caculater-box .result {
	width: 300px;
	padding: 15px 0 25px 70px;
}
.caculater-table-box {
	width: 600px;
}
.caculater-tablebox {
	padding: 5px;
}
.caculater-tablebox {
	text-align: center;
}
.caculater-tablebox th {
	padding: 10px 0;
	font-size: 15px;
	border-bottom: 1px solid #666;
}
.caculater-tablebox td {
	padding: 10px 0;
	border-bottom: 1px dashed #eee;
}
/*表单验证提示*/
.Validform_checktip {
	position: absolute;
	left: 130px;
	bottom: -28px;
	height: 24px;
	line-height: 24px;
	color: #ff5b01;
	font-size: 12px;
}
.Validform_right {
	display: none;
}
/*
*****
js模块和组件
*****
*/
.cooper-slide {
	position: relative;
	margin: 5px auto 0;
	padding: 10px 0;
}
.cooper-slide .next,.cooper-slide .prev {
	position: absolute;
	left: 50%;
	margin-left: -8px;
	width: 15px;
	height: 8px;
	cursor: pointer;
}
.cooper-slide .prev {
	top: 2px;
	background: url(../images/partner_up.png) no-repeat;
}
.cooper-slide .next {
	bottom: 2px;
	background: url(../images/partner_down.png) no-repeat;
}
.cooper-slide,.cooper-slide img {
	width: 164px;
}
.cooper-slide-inner {
	overflow: hidden;
	height: 340px;
} 
.cooper-slide-list {
	float: left;
}
.cooper-slide-list>li {
	padding: 10px 0;
	height: 164px;
	height: 48px;
}
/*百分比进度条*/
.percentbar {
	height: 8px;
	width: 100px;
	background: #eee;
	border-radius: 4px;
}
.percentbar .bar-inner {
	vertical-align: top;
	width: 0;
	height: 8px;
	border-radius: 4px;
	transition:all 0.3s;
}

/*提示框*/

/*
@media only screen and (min-width: 1440px) {
	.wrapper {
		width: 1100px;
	}
	.nav>li>a {
		width: 80px;
	}
	.ind-con-a {
		width: 735px;
	}
	.ind-con-b {
		width: 345px;
	}
	.invest-spelist-mod-1 {
		margin: 20px 0 30px 50px;
	}
	.invest-spelist>li {
		margin: 20px 50px 9px 0;
	}
	.loan-form-box {
		width: 580px;
	}
	.loan-form .input {
		width: 340px;
	}
	.loan-form .select {
		font-size: 16px;
	}
	.loan-tips-box {
		width: 390px;
	}
	.invest-box-a {
		width: 735px;
	}
	.invest-box-b {
		width: 325px;
	}
	.invest-box-b .input {
		width: 250px
	}
	.mainbox {
		 margin-left: 180px;
	}
	.aside-mod-1 {
		 width: 180px;
		 margin: -1px 0 -1px -180px;
	}
}
*/

div .font-org{
        color: #ff5b01;
    }
    div .bot-b-org{
        border-bottom: 1px #ff5b01 solid;
        padding: 0 3px;
    }
    .main-box{
        width: 1000px;
        margin: 0 auto;
    }
    .main-head{
        margin-top: 10px;
        border-bottom: 3px #ff5b01 solid;
    }
    .main-head div{
        display: inline-block;
    }
    .main-head .right{
        text-align: right;
        float: right;
    }
    .main-head ul li{
        display: inline-block;
        padding: 5px;
        margin: 0 45px;
    }
    .main-head ul li.on{
        background-color: #ff5b01;
        color: white;
    }

    .main-body{
        margin-top: 30px;
    }


    .top div{
        display: inline-block;
    }
    .top .div-ico{
        width: 25px;
        text-align: center;
        height: 25px;
        line-height: 25px;
        background: #ff5b01;
        color: #fff;
        border-radius: 100%;
    }

    .top .div-title{
        width: 960px;
        border-bottom: 1px #ccc solid;
    }

    .main-body .switch-list{
        padding: 20px;
    }

    .main-body .switch-list ul{
        height: 50px;
        line-height: 50px;
        background-color: #ccc;
        border-radius: 7px;
    }

    .main-body .switch-list ul li{
        display: inline-block;
        margin: 0 40px;
    }

    .main-body .switch-list ul li div{
        display: inline-block;
        margin-right: 20px;
    }

    .main-body .switch-list ul li div img{
        width: 89px;
        height:36px;
        cursor:pointer;
    }

    .main-con ul li{
    	line-height:30px;
        margin-bottom: 30px;
    }

    .main-con ul li div{
        display: inline-block;
    }

    .main-con ul li div.one-lable{
        width: 20%;
        text-align: right;
        font-weight: bold;
    }

    .main-con ul li div.one-input{
        width: 20%;
        margin-right: 30px;
    }

    .main-con ul li div.one-remark{
        color: #666;
    }
    .main-con .select{width:180px;}
    .inline span{display:block;line-height:30px;width:300px;}
	
	/*
分页
*/
.pagetion_box{
	padding-top:20px;
}
.pagination {
  text-align: center;
  font-size: 0;
  letter-spacing: -4px;
  word-spacing: -4px;
  font-family:"微软雅黑";
}
.pagination li {
  line-height: 25px;
  display: inline-block;
  *display: inline;
  zoom:1;
  letter-spacing: normal;  
  word-spacing: normal;
  font-size: 12px;
}
.pagination>li>a, .pagination>li>span {
	position:relative;
	float:left;
	padding:6px 12px;
	margin-left:-1px;
	line-height:1.428571429;
	text-decoration:none;
	background-color:#fff;
	border:1px solid #ddd;
	
  color:#d90404;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
	margin-left:0;
	border-bottom-left-radius:4px;
	border-top-left-radius:4px
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-top-right-radius:4px;
	border-bottom-right-radius:4px
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
	background-color:#eee
}
.pagination>li.active>a>span {
	background-color:#eee;
	border: 1px solid #aaa;
}
#pageForm span {
	height: 18px;
	text-align: center;
	line-height: 18px;
	color: #aaa;
	padding: 0 7px;
	
	border-radius: 3px;
}

#pageForm span.sel {
	color: #fff;
	background: #4a89dc;
	border: 1px solid #4a89dc;
}

#pageForm li {
	display: ininle;
	float: left;
}

#pageForm a {
	height: 18px;
	text-align: center;
	line-height: 18px;
	color: #4a89dc;
	background: #fff;
	padding: 0 7px;
	border: 1px solid #4a89dc;
	border-radius: 3px;
}

#pageForm a:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}

#pageForm input[type=text] {
	width: 40px;
	height: 20px;
	line-height: 20px;
	margin-right: 10px;
	padding: 0 7px;
	border: 1px solid #cfcfcf;
	border-radius: 3px;
}

#pageForm input[type=text]:focus {
	border-color: #208ed3;
}
.error_message{
	color:red;
}