@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0; border:0; outline:0;}
body{ font-size:14px; font-family:"微软雅黑"; color:#555;}
a{ text-decoration:none; color:#666;}
li{ list-style-type:none;}

.box{ width:600px; border:1px solid #eee; background:#fff;}
.box .tit{ height:45px; line-height:45px; border-bottom:1px solid #eee;}
.box .tit .star{width: 8px; height: 25px; margin-top: 10px; background: #d56749; float: left;}
.box .tit .tit-font{ float:left; margin-left:10px; color:#333;}
.box .tit .cha{ width:22px; height:22px; background:url(../images/cha.png) no-repeat center; float:right; margin-top:10px; margin-right:10px;}
.box .content{ padding:20px;}

.content .form{ width:480px;}
.content .form ul{}
.content .form ul li{}
.content .form ul li font.lis{ display:inline-block; width:200px; height:45px; line-height:45px; margin-left:10px;}
.content .form ul li font.change{ display:inline-block; height:45px; line-height:45px; color:#5c90ae; font-size:12px;}
.content .form ul li font.change a{ color:#5c90ae;}
.content .form ul li.erro{ font-size:12px; color:#cd3232; padding-left:120px; height:20px;}
.content .form ul li span{ display:inline-block; width:100px; float:left; height:45px; line-height:45px; text-align:right; font-size:14px; }
.content .form ul li input.b{ background:url(../images/login-input-1.png) no-repeat; width:320px; height:45px; padding:0 15px 10px 15px;line-height/*\**/: 48px\9; margin-left:10px;}
.content .form ul li select.b{ border:1px #eee solid; width:320px; height:45px; padding:0 15px 10px 15px;line-height/*\**/: 48px\9; margin-left:10px;}
.content .form ul li input.s{ background:url(../images/login-input-2.png) no-repeat; width:95px; height:40px; padding:0 15px 5px 15px; line-height/*\**/: 43px\9; margin-left:10px;}
.on-btn{ width:200px; height:48px; background:url(../images/tijiaos.jpg) no-repeat; line-height:48px; text-align:center; margin-left:110px; margin-top:20px;}
.on-btn a{ display:block; font-size:16px; color:#fff;}
.on-btn a:hover{ color:#eee;}
.content .form ul li font { display:inline-block;}
.content .form ul li font.btn{background:url(../images/login_btn.jpg) no-repeat; width:110px; height:35px; line-height:35px; text-align:center; margin-left:110px;}
.content .form ul li font.btn a{ display:block; color:#FFF; font-weight:bold;}
.content .form ul li font.btn a:hover{ color:#eee;}

.content .test{ border:1px solid #ccc;}
.content .test .test-tit{ padding:10px; line-height:auto; border-bottom:1px dashed #ccc; font-weight:bold;}
.content .test .test-t{ width:69%;}
.content .test .test-m{ width:30%;}
.content .test span{ display:inline-block; text-align:center;}
.content .test .test-con{ padding:10px; line-height:auto;}

.shifou { height:50px; margin:20px auto; width:300px; color:#fff; text-align:center; line-height:35px;}
.shifou div{ cursor:pointer;}
.shifou div a{ color:#fff;}
.shifou div a:hover{ color:#eee;}
.shi{ background:url(../images/login_btn2.png) no-repeat; width:110px; height:35px; float:left;}
.fou{ background:url(../images/login_btn.jpg) no-repeat; width:110px; height:35px; float:right;}

